html{
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
.red-color {
    color: #eb5b49;
}
.green-color {
    color: #35ba8e;
}
.light-four-color {
    color: #ccc;
}
.bg-red{
    background-color: #eb5b49!important;
    
}
.bg-green{
    background-color: #35ba8e!important;
}
button{
    width: 100%;
}
/* OrderBook */
.sell-orderbook-data{
    min-height: 240px;
    display: flex;
    flex-basis: calc(50% - 67px);
    overflow-y: auto;
    flex-direction: column-reverse;
    background-color: #131b1e;
}
.buy-orderbook-data{
    min-height : 240px;
    display: flex;
    flex-basis: calc(50% - 67px);
    overflow-y: auto;
    flex-direction: column;
    background-color: #131b1e;
}

.orderbook-inner-data{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    cursor: pointer;
    font-size: 14px;
}
.orderbook-data{
    border-right: 1px solid #131b1e;
    display: flex;
    flex-basis: calc(50% - 67px);
    overflow-y: auto;
}
.btn-round{
    border-radius: 40px !important;
}
/* Order Form */
.buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 40px;
    background-color: #131b1e;
}
.tab-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}
.tab-button{
    width: 100%;
    background-color: #131b1e!important;
    border-radius: 0px;
}
.tab-active {
    border-bottom: 2px solid #eee !important;
}
.side-button{
    display: flex;
    flex-basis: 50%;
}
.btn{
    color: #fff !important;
    text-align: center;
}

.inputs-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
}
.label{
    font-size: 10px;
    color: #fff;
    padding-bottom: 5px;
}
.input-label{
    position: absolute;
    top: -22px;
}
.prefix-icon {
    position: relative;
}
.input-field {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-bottom: 22px;
    margin-top: 10px;
}
.form-input{
    background-color: rgba(0,0,0,0);
    color: white;
    padding-left: 28px;
    padding-top: 0px;
    border-radius: 5px;
}
.submit-order{
    border-radius: 20px;
    padding: 2px;
    color: #fff;
    border: none;
}

.title {
    display: flex;
    flex-direction: column;
    font-weight: 100;
}
 .subtitle {
    font-weight: 700 !important;
    font-size: 10px !important;
    text-align: center !important;
}
td{
    font-weight: 100;
    font-size: 12px;
    padding: 2px 0;
}
th{
    padding: 5px;
    font-weight: 100;
    font-size: 14px;
}
.rates{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    align-items: center;

}
.rates-elements{
    padding: 12px;
}
.last-price{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: baseline;
}
.rate-balance{
    font-size: 12px;
    display: flex;
    flex-flow: row;
    align-items: center;
}
div .rates-elements span{
    margin-right: 12px;
}
.arrow{
    font-size: 12px;
}
.last-price-row{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;

}